<!DOCTYPE html>
<html style="height: 100%;">
    <head>
        <title>Image Gallery</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            .licensePlatePicture img {
              width: 20%;
              height: auto; 
            }
            .detectionPicture img {
              width: 100%;
              height: auto;
            }
          </style>
    </head>
    <body margin: 0px; background: #0e0e0e; height: 100%>
        <center><h1>License Plate Gallery</h1></center>
       
          {% if images.get('licensePlatePicture') %}
          <section class='licensePlatePicture'>
            <img id="licensePlatePicture" src="data:image/jpeg;base64,{{ images['licensePlatePicture'] }}" onclick="openImg('licensePlatePicture')">
            <br>
          </section>
          {% endif %}  

          {% if images.get('detectionPicture') %}
            <section class='detectionPicture'>
              <img id="detectionPicture" src="data:image/jpeg;base64,{{ images['detectionPicture'] }}" onclick="openImg('detectionPicture')">
              <br>
            </section>
          {% endif %} 
    
      <script>
        function openImg(img_id){
          // var image = document.getElementById(img_id);
          // var source = image.src;
          // window.open(source);
        } 
      </script>
    </body>
</html>
