<html>
<head>
    <title>Event Notifications</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <center><h1>Event Notifications</h1></center>
    <center><button onclick="location.href='/index'" type="button">Go back</button><center><br>
    <table style="border: 2px solid black;" border="1"  cellspacing="1" cellpadding="10">
        <thead>
            <tr>
                <th style="text-align: center;">ID</th>                
                <th style="text-align: center;">ANPR</th>
                <th style="text-align: center;">Event Alert</th>
                <th style="text-align: center;">UUID</th>
                <th style="text-align: center;">Device UUID</th>
                <th style="text-align: center;">Device ID</th>
                <th style="text-align: center;">License Plate</th>
                <th style="text-align: center;">Images</th>
            </tr>
        </thead>
        <tbody>
            {% for event_notification in event_notifications %}
                <tr>
                    <td style="text-align: right;">{{ event_notification.id }}</td>
                    <td style="text-align: right;">{{ event_notification.date_time_ANPR }}</td>
                    <td style="text-align: right;">{{ event_notification.date_time_event_alert }}</td>
                    <td style="text-align: right;">{{ event_notification.uuid }}</td>
                    <td style="text-align: right;">{{ event_notification.device_uuid }}</td>
                    <td style="text-align: right;">{{ event_notification.device_id }}</td>
                    <td style="text-align: right;">{{ event_notification.license_plate }}</td>
                    <td style="text-align: right;"><button onclick="location.href='/get_images/{{ event_notification.uuid }}'" type="button">view</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</center>
</body>
</html>
